*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.774),rgba(54, 54, 54, 0.651)),url(images/UkraineBackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
    position: relative;
    left: 1500px;
    top: 0px;
    opacity: 0.8;
}
.nav-links{
    flex: 1;
    text-align: right;
    position: fixed;
    top: 50px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    top: -30px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #214d8f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    margin: 10px 0 40px;
    font-size: 70px;
    color: #fff;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: rgb(226, 226, 226);
}
.donate-btn{
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.877);
    border: 1px solid rgba(255, 255, 255, 0.877);
    padding: 10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.donate-btn:hover{
    border: 1px solid #f44336;
    background: #f44336
}
@media(max-width: 700px){
    .text-box h1{
        margin: 10px 0 40px;
        font-size: 26px;
        color: #fff;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 15px;
        color: rgb(226, 226, 226);
    }
    nav img{
        width: 100px;
        position: relative;
        opacity: 0.8;
    }
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 13px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 2px 6px;
        position: relative;
        top: 0px;
    }
    nav{
        display: flex;
        padding: 2% 4%;
        justify-content: space-between;
        align-items: center;
    }
}

/*- information - */


.information-text h1{
    text-align: center;
    margin: 15px 100px;
    font-size: 95px;
    font-weight: 500;
    color: #000;
    background-color:rgba(180, 180, 180, 0.425);
    background-position: center;
    background-size: cover;
}
.information-text p{
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(63, 63, 63, 0.747),rgba(54, 54, 54, 0.651)),url(images/5338.webp);
    background-position: center;
    background-size: cover;
}

.statistics{
    background-color:rgba(180, 180, 180, 0.425)
}
.statistics-diagrams{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(194, 236, 243);

}
.statistics h1{
    font-size: 150px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 15px 100px;
}
.statistics-diagrams img{
    width: 400px;
}

.donate{
    background-color:rgba(21, 170, 158, 0.411);
}
.donate h1{
    font-size: 100px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 15px 100px;
}
.donate p{
    font-size: 36px;
    font-weight: 100;
    color: #000;
    text-align: center;
    background-color:rgba(21, 170, 158, 0.103);
}
.donate li a{
    color: #e74c3c;
    text-decoration: none;
    font-size: 60px;
}
.donate li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
    top: 0px;
}
.donate li ::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #d35400;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.donate li :hover::after{
    width: 100%;
}